@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* outline: 1px solid red; */
}
/* about page */
.about-page{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.text-a{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}
.text-a span{
	font-size:110px;
	font-weight: 900;
}
.text-a>span:nth-child(1) {
	font-weight:lighter;
	color: #091F36;
}
.tc-col{
	display: flex;
	flex-direction: column;
}
.two-a{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	gap: 50px;
	padding: 50px;
}
.right-a{
	width: 450px;
	margin-right: 64px;
	font-size: 24px;
}
.left-a .img-tc{
	position: relative;
	width: 700px;
	bottom: 224px;
	transform: rotate(-60deg);
	animation: rotate 25s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.about-a2{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #091F36;
}
#text-a{
	position: relative;
	top: 80px;
	color: #fff;
}
#text-a>span{
	color: #fff;
}
.chat-tc{
	width: 440px;
	float: right;
	right: 60px;
	position: relative;
	bottom: 224px;
}
.chat-tc2{
	width: 250px;
	position: relative;
	top: 216px;
	left: 30px;
}
@media (max-width:768px){
	/* @media screen and (max-width:480px){ */
	.two-a{
		display: flex;
		flex-direction: column;
		gap:2px;
		padding: 5px;
		
	}
	.text-a>span{
		font-size: 42px;
	}
	.tc-col>span{
		font-size: 42px;
	}
	.right-a{
		width: 100%;
		font-size: 22px;
		padding: 10px;
		margin: 10px;
		position: relative;
		bottom: 132px;
	}
	.left-a .img-tc {
		width: 70%;
		position: relative;
		top: -35px;
	}
	.chat-tc{
		position: relative;
		bottom: 34px;
		left: 0px;
		width: 180px;
	}
	.chat-tc2{
		width: 150px;
	}
}