@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* outline: 1px solid red; */
}
/* about page */
.about-page{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.text-a{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}
.text-a span{
	font-size: 6.5rem;
	font-weight: 900;
}
.text-a>span:nth-child(1) {
	font-weight:lighter;
	color: #091F36;
}
.tc-col{
	display: flex;
	flex-direction: column;
}
.two-a{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	gap: 5rem;
	padding: 2rem;
}
.right-a{
	width: 30rem;
	margin-right: 4rem;
	font-size: 1.4rem;
}
.left-a .img-tc{
	position: relative;
	bottom: 14rem;
	width: 40rem;
	transform: rotate(-60deg);
	animation: rotate 25s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.about-a2{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #091F36;
}
#text-a{
	position: relative;
	top: 5rem;
	color: #fff;
}
#text-a>span{
	color: #fff;
}
.chat-tc{
	width: 32rem;
	float: right;
	right: 4rem;
	position: relative;
	bottom: 14rem;
}
.chat-tc2{
	width: 12rem;
	position: relative;
	top: 16rem;
}
@media screen and (max-width:80px){
	#text-a1>span{
		font-size: 2rem;
	}
	#text-a1>.tc-col>span{
		font-size: 2rem;
	}
	#para{
		width: 50rem;
		font-size: 18px;
		position: relative;
		bottom: 9rem;
	}
	.left-a .img-tc {
		position: relative;
		top: 0rem;
	}
}